<div id="about">
  <div class="about__container">
    <h2 class="section__title">About</h2>
    <!--скрыто-->
    <div class="about__row">
      <div class="about__img">
        <img src="./images/about/bulb.jpg" class="img-responsive" alt="" width="370px" height="294px" />
      </div>
      <div class="about__descr">
        <div class="about__text">
          <h2>About Us</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat quidem error molestias magni asperiores
            reiciendis sed iusto ipsum consequuntur qui, itaque illo incidunt impedit voluptatum expedita quasi optio
            quas architecto rerum aliquam ipsa cum quam deleniti. Molestias alias, commodi molestiae ut eius impedit
            vero reprehenderit blanditiis tenetur magnam vel asperiores quae, sequi dolore modi nobis aliquid enim? Eos
            mollitia libero quasi ea sunt quod, neque magni, aliquid ducimus repellendus nostrum! In rerum nihil, ab
            alias earum beatae aperiam. Suscipit sapiente veniam nulla tenetur ex possimus nesciunt cupiditate ratione
            deserunt, id cum minima maxime. Aliquam rerum ut possimus, vero quae voluptatum fuga excepturi nesciunt
            soluta, dolores cupiditate inventore. Esse, minima nemo incidunt sit, ullam libero praesentium possimus
            porro nobis ipsum ut sint itaque rerum cumque! Assumenda ipsa nam ea praesentium. Ab tenetur id, adipisci
            voluptates quam dolorem nemo eius minus asperiores velit obcaecati officiis inventore sint. Quibusdam
            voluptatibus amet reprehenderit laudantium, rerum quisquam nemo minima neque hic cupiditate nulla doloribus
            ut ratione explicabo, corrupti vitae mollitia. Animi quibusdam illum ex eos ratione, velit, qui labore porro
            minus autem ipsum, nostrum quos quis unde praesentium a blanditiis beatae dignissimos quisquam. Non
            exercitationem cumque obcaecati architecto blanditiis autem reprehenderit doloremque. Odit, repellat nam?
          </p>
          <h3>Why Choose Us?</h3>
          <div class="list-style">
            <div class="col-lg-6 col-sm-6 col-xs-12">
              <ul>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, quia.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, quia.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, quia.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, quia.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, quia.</li>
              </ul>

              </ul>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12">
              <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
              </ul>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>