<section class="about" id="about">
  <div class="about__container">
    <h2 class="section__title">About us</h2>
    <div class="about__row">
      <div class="about__descr">
        <div class="about__img">
          <img src="./images/about/bulb.jpg" class="img-responsive" alt="" width="500px" height="500px" />
        </div>
        <div class="about__text">
          <p>text</p>
        </div>
      </div>
      <div class="about__why">
        <h3>Why Choose Us?</h3>
        <div class="about-why">
          <div class="about-why__container">
            <ul class="about-why__list">
              <li class="about-why__item">text</li>

              <li class="about-why__item">text</li>
            </ul>

            </ul>
          </div>
          <div class="about-why__container">
            <ul class="about-why__list">
              <li class="about-why__item">text</li>

              <li class="about-why__item">text</li>
            </ul>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>