<section class="about" id="about">
  <div class="about__container">
    <h2 class="section__title">About us</h2>
      <div class="about__row">
         <div class="about__descr">
      <div class="about__img">
        <img src="./images/about/bulb.jpg" class="img-responsive" alt="" width="370px" height="294px" />
      </div>
      <div class="about__text">
         <p>SET is a proud supplier of industrial automation and electrical equipment to more than 20 power facilities in 7 countries of the BSEC (Black Sea Economic Cooperation) and Eastern European regions. These include, 6 nuclear power plants and 3 high-volume hydroelectric power plants. SET provides business consulting services for companies entering and/or looking to strengthen their position on the Eastern European market. SET has a more than a 10 year history of providing marketing and logistical solutions to complex trading and supply chain problems, as well as offering professional legal support to companies at any stage of project development, all to the benefit our business partners and our customers. Our expert team consists of qualified, experienced professionals in managerial, engineering, and judicial fields.</p>
      </div>
      </div>
      <div class="about__why">
          <h3>Why Choose Us?</h3>
          <div class="about-why">
            <div class="about-why__container">
              <ul class="about-why__list">
                <li class="about-why__item">- physical trading of Metals & related products: flat steel products, galvanized and colour coated cold rolled coils, tinplate, etc.</li>

                <li class="about-why__item">- physical trading of Components for Power Industry: cables, high voltage equipment, generators, circuit breakers, etc.</li>
                </ul>

              </ul>
            </div>
            <div class="about-why__container">
              <ul class="about-why__list">
                <li class="about-why__item">- Our extensive knowledge about- and a long-lasting presence on- the Eastern European market allows us to provide expert advice concerning any and all matters that your business might face while operating in the region.</li>

                <li class="about-why__item">- As a part of the business consulting services SET provides customized finance packages which include different trade finance instruments (e.g. Supply Chain Financing), ensuring execution of the contractual obligations by the counterparties and partners, as well as risk management facilities (to hedge company's exposure to physical market price fluctuations as well as FX risks).</li>
             </ul>
              </ul>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>