<section class="system" id="system">
  <div class="system__container">
    <div class="system__img">
      <img
        src="./images/Activities/anti-crisis2.jpg"
        class="img-responsive"
        alt=""
        width="100%"
      />
    </div>
    <h2 class="section__title">
      Strategic and anti-crisis management for medium-sized businesses.
      Management accounting for medium-sized businesses (consulting,
      implementation)
    </h2>
    <div class="system__row">
      <div class="system__descr">
        <div class="system__text">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum
            quaerat quidem minus aliquid! Repellat repellendus adipisci dolor
            autem tenetur obcaecati at excepturi aliquam recusandae quae,
            consequatur harum iusto, atque dolorem! Amet harum consequuntur
            eveniet excepturi quam iusto velit. Eveniet error facilis voluptates
            atque alias est impedit laudantium consequatur fugiat obcaecati,
            voluptatem sequi. Mollitia molestias adipisci nihil ipsa praesentium
            inventore, nesciunt voluptas, deleniti neque ex quia quam nemo quae?
            Nobis sint eligendi libero cupiditate quo quasi est unde laboriosam
            necessitatibus aspernatur sit asperiores ut suscipit dignissimos
            porro beatae quos voluptatem eius quia, saepe, ea omnis deleniti
            minus nulla! Nesciunt, possimus consequuntur culpa sapiente odio
            numquam repellat sunt eum mollitia voluptate incidunt dolorem sequi
            explicabo officia velit earum aliquid vero? Sed exercitationem nemo
            laborum cum dicta ipsam suscipit reiciendis debitis deserunt, iste
            incidunt laudantium atque distinctio? Fuga minus libero cupiditate
            tempora modi, et totam aperiam quaerat, vitae quibusdam optio,
            veniam reprehenderit accusamus dignissimos assumenda. Pariatur sunt
            illum perferendis, rerum blanditiis nihil, nesciunt id soluta cumque
            impedit saepe maiores reiciendis deserunt praesentium nam illo
            recusandae numquam iure. Mollitia, id tempora asperiores earum
            voluptate tempore illo eveniet, rem aperiam veniam quisquam nisi
            quas consequuntur atque debitis. Rerum accusantium hic consequuntur
            cum. Incidunt eius delectus amet nostrum, ad magnam, consectetur
            impedit unde excepturi perferendis nam voluptate officia iusto
            blanditiis sequi, doloribus maxime neque nemo similique. Tempora
            porro quaerat doloremque non iusto eaque, assumenda nisi at aut
            optio, quae beatae? Eaque ab sunt dolorum at repellat, praesentium
            voluptatibus modi, atque cumque, ut consequuntur amet facere
            dignissimos ex qui id. Quia pariatur asperiores quod architecto
            velit laboriosam porro incidunt libero ea iusto saepe sed placeat,
            ut inventore nam ex nemo reiciendis harum recusandae aliquam neque
            illum. Veniam ducimus odit eligendi maiores esse, quasi obcaecati
            aliquam error praesentium placeat reprehenderit unde eos veritatis
            nihil magnam a. Animi, quisquam? Eum officiis inventore voluptas et
            magnam quia facere odio at veniam eaque praesentium, asperiores
            laborum temporibus nulla ad itaque sunt tempore illo in fugit qui
            molestiae necessitatibus earum repudiandae? Natus exercitationem
            quam consequuntur voluptas accusantium iure nulla, est ut vero
            tempore sequi ipsum voluptates provident ducimus voluptate neque
            perspiciatis quos ex fugit blanditiis totam eum vel sit atque. Qui
            officiis nostrum ab? Deserunt, autem laborum? Sunt molestiae libero
            aspernatur quas laborum omnis, culpa, aliquid nihil reprehenderit
            fuga itaque facilis corporis aliquam corrupti id totam consequatur
            ex quibusdam at dignissimos consectetur tenetur provident similique?
            Perferendis, provident eligendi deleniti corporis aut quaerat vitae
            repudiandae accusamus, ut eaque maiores labore harum cum? Ipsum
            exercitationem odio, voluptas sapiente cum quis corrupti sed
            reiciendis totam molestiae animi nihil laudantium nemo voluptatum
            consequuntur architecto, numquam atque! Aliquam perferendis ut
            cupiditate iste, nobis debitis nulla excepturi quae voluptate
            mollitia omnis, dignissimos magni necessitatibus impedit saepe
            tenetur cumque praesentium facilis adipisci, voluptatibus vero at
            molestiae eaque rem? Totam fugiat magni, adipisci eum quam, quasi
            aliquid ratione aut porro iure at nisi temporibus necessitatibus
            facere architecto eos cupiditate impedit laboriosam obcaecati quae!
            Totam commodi unde beatae quidem, perferendis iusto, fugiat illum
            molestiae consectetur culpa molestias, maiores dolore consequatur
            excepturi!
          </p>
        </div>
      </div>
      <div class="system__why">
        <h3>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim,
          similique?
        </h3>
        <div class="system-why">
          <div class="system-why__container">
            <ul class="system-why__list">
              <li class="system-why__item">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Laboriosam, exercitationem. Et magnam natus placeat provident
                deleniti! Sit repellat aliquid fugiat laboriosam molestias,
                neque autem sint quo eum, natus debitis, doloremque iusto velit
                alias nulla tempora impedit consequuntur quis veritatis tempore.
                Voluptates incidunt, nemo accusantium illo libero voluptatem,
                rerum fugiat rem recusandae quisquam ipsa, a repellat inventore
                sed suscipit numquam similique magni vero labore assumenda
                repudiandae? Quae facere quaerat sequi quasi dignissimos
                asperiores quod adipisci, impedit provident ipsum, nihil
                deleniti fuga nemo mollitia sapiente porro quibusdam alias sit
                ullam. Suscipit, sed, blanditiis voluptates odit dolores
                accusamus ab autem similique reprehenderit qui repudiandae
                voluptatibus ex eligendi molestiae voluptate, atque eaque quidem
                architecto et velit voluptas inventore quo? Sit eius iste quam
                ut sed iure eveniet aliquid, aperiam, officia autem suscipit
                dignissimos fuga doloremque sint voluptatibus debitis inventore
                necessitatibus accusamus. Ducimus, veritatis mollitia obcaecati
                voluptatum minus amet quia maxime maiores voluptatem unde
                accusamus ex architecto nulla ea beatae nobis fugiat soluta!
                Tempore adipisci illo nisi ullam fugit reprehenderit error
                explicabo. Dignissimos et perferendis saepe. Sequi ipsum debitis
                consectetur facere earum laborum commodi accusantium officia
                quidem! Odio deleniti, eaque debitis iste quas, rem, impedit
                dolorem vero qui voluptas totam placeat alias quis hic cumque?
              </li>
              <li class="system-why__item">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Corporis doloribus deleniti provident et quae, in dignissimos
                ipsum error nam, ipsa, expedita quibusdam culpa adipisci
                dolorem. Voluptas rem molestias, aliquam amet asperiores
                possimus numquam eum vitae praesentium sint vel ea, magnam
                nesciunt voluptates pariatur sit. Velit fuga consequuntur
                molestiae veniam nam modi tempora minus similique fugiat porro
                dicta repellendus perferendis, nostrum facere, rerum alias
                blanditiis sunt! Magnam soluta, reprehenderit fugiat minima eius
                excepturi animi dolorum eos magni in voluptatum quod itaque
                officiis ullam recusandae nihil error! Dolorum, tempore eos
                cumque magnam harum iste pariatur veniam. Consectetur quidem
                quia voluptates? Sequi, enim eum porro pariatur qui laboriosam
                nobis amet dicta facere vero rerum incidunt cumque nemo officiis
                maxime? Quo corrupti voluptatibus eum numquam sint aspernatur,
                consequatur asperiores ipsa vitae repudiandae laboriosam beatae
                dolorum odit adipisci eaque obcaecati eos cum libero quia
                voluptates commodi nobis labore. Odio recusandae nulla sit
                accusantium nostrum iste itaque consequatur! Maiores quia
                similique consectetur distinctio repellendus fugiat eum
                necessitatibus deserunt incidunt ipsa quasi magnam quaerat atque
                sed itaque cum veniam at exercitationem aliquid eligendi eos
                nesciunt, non commodi. Delectus placeat ea labore suscipit
                facilis sequi tempora velit similique, sunt exercitationem
                consectetur officia sapiente quis deleniti blanditiis fugiat,
                impedit at distinctio corporis eligendi incidunt alias nihil
                voluptate laudantium. Distinctio perspiciatis dolorum hic
                laborum beatae itaque voluptatibus fugiat odio veritatis
                suscipit fugit praesentium aperiam at voluptates molestiae ipsum
                minus nobis doloribus, atque tempora minima dolorem! Hic atque
                iste amet inventore, doloremque eligendi eveniet magnam voluptas
                officia suscipit, beatae quia id laudantium quod voluptatum,
                doloribus tenetur quisquam! Voluptates tempora est
                exercitationem molestiae mollitia minima reprehenderit quae et
                culpa ad? Quaerat eius, nostrum velit quasi aliquid odit libero
                distinctio eligendi culpa dolores deserunt, laborum vitae
                architecto eos asperiores. Unde, impedit consectetur. Iusto
                minus voluptatum ipsum nulla laborum mollitia, debitis nesciunt,
                dolorum, accusamus exercitationem modi cumque reprehenderit
                voluptatem magnam earum similique ex? Odit quos consectetur
                tenetur ex pariatur quod impedit voluptatem aut! Aut recusandae,
                laudantium sequi in, fugiat expedita aliquid dolores animi quam,
                ea sed quo. Tenetur rem, eligendi aliquam optio dolorem
                doloribus commodi illum perspiciatis facere nostrum sint,
                consequatur quasi quae architecto esse reiciendis.
                Exercitationem, saepe sit dolorum perferendis iusto cumque
                facere molestias ea omnis, obcaecati, rerum quasi impedit?
                Dolorum corporis et culpa, amet hic molestias perspiciatis
                dignissimos veritatis incidunt ullam consequatur nesciunt ab qui
                ad assumenda! Maiores fugit doloremque, alias ut rem non
                asperiores, doloribus quisquam aliquid accusantium, sapiente
                fugiat magni autem voluptatum obcaecati culpa expedita dolor?
                Dignissimos sapiente tempore consequatur deleniti aliquid
                officia neque molestias saepe praesentium odio dolores officiis
                quia, natus dicta enim nam quis animi vitae voluptatem. Odit
                vitae magnam dolore quas et facere! Molestias incidunt totam
                fuga commodi voluptatem architecto odio quo hic quia inventore
                corrupti, eaque officia explicabo necessitatibus et perspiciatis
                cupiditate illo! Suscipit numquam qui aut a. Et dolorem
                laboriosam perferendis exercitationem placeat, consequatur
                temporibus id aperiam eligendi voluptatum ab corporis veritatis
                laudantium molestias tenetur sapiente sit iure! In saepe error
                iure. Exercitationem natus libero porro temporibus aliquam
                eaque, tenetur voluptatibus, dolorum ducimus, vel tempore.
              </li>
            </ul>
          </div>
          <div class="system-why__container">
            <ul class="system-why__list">
              <li class="system-why__item">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Repellat suscipit odio iusto incidunt. Voluptates saepe
                obcaecati inventore odit. Sit quod nobis quis necessitatibus
                dolorem culpa expedita laborum ad nulla quas odit, veniam animi
                doloremque ut reiciendis iure, harum ipsa voluptate architecto
                quibusdam quisquam sequi dolor facere saepe? Amet nam in dolorum
                voluptas. Quia ipsum assumenda similique quas voluptatum
                repellat dignissimos distinctio eaque itaque in quod tenetur
                quis, amet recusandae? Dignissimos blanditiis eius consectetur
                dicta harum assumenda praesentium vitae! Explicabo, nemo! Sint
                unde nam modi nisi voluptates, minima reprehenderit illum iusto
                a rem ullam doloribus blanditiis enim ad accusantium tempora, at
                eligendi eaque aspernatur quia sed. Hic expedita obcaecati sint
                magnam porro minima fugit consequatur blanditiis labore, tenetur
                sunt! Rem dolores non veritatis quisquam minus quis sed dolorem,
                tempora eveniet sit perferendis deleniti cum, voluptatibus error
                et autem reiciendis laboriosam nostrum veniam enim illum
                deserunt perspiciatis maiores. Obcaecati harum pariatur
                recusandae molestias quos quisquam totam consequatur ut quaerat,
                repudiandae laborum dolores aperiam! Eum ipsa totam maiores
                obcaecati cupiditate sit ex recusandae, quae labore quasi et
                soluta sint tempora non nihil autem voluptas? Ut eos
                reprehenderit magnam dolorum iusto doloribus cupiditate
                repudiandae impedit fugiat ab qui aliquid expedita suscipit
                beatae sit a, id eius exercitationem enim consequuntur atque
                pariatur. Sed fugit atque ullam nostrum necessitatibus a dolores
                quam distinctio aliquam commodi architecto dolor quos numquam,
                nulla quidem aliquid reiciendis eveniet aperiam labore, cumque,
                quibusdam at quas! Commodi, sequi excepturi esse ullam sapiente
                obcaecati exercitationem, natus nemo praesentium laboriosam ipsa
                est quos ea doloribus reiciendis eos voluptatum consectetur,
                mollitia aliquam veniam ut doloremque tenetur eius? Corrupti eum
                delectus magni obcaecati totam ullam dolores inventore
                voluptatum possimus consectetur fuga ut quos sequi nihil
                praesentium iusto quasi at, illum numquam? Facilis enim dolores
                dolorum, aperiam sequi neque fugiat magnam error ad temporibus,
                incidunt voluptatibus odio quod mollitia! Nesciunt et quaerat
                excepturi iure, cumque sed, similique accusantium debitis sunt,
                a saepe! Pariatur aliquam ut temporibus cupiditate obcaecati
                omnis quasi, consequuntur iste voluptatem dolorem illum, minus
                delectus tempore est error provident accusamus totam ullam sed
                eius, corrupti dignissimos nobis ex? Est, dolore! Sit,
                perferendis fuga fugit non atque optio minima corporis voluptate
                ratione quasi totam soluta aspernatur suscipit architecto nulla
                porro quaerat mollitia eaque rerum quis quam dolores quidem
                possimus! Pariatur, mollitia nisi. Est unde omnis velit quia
                delectus. Ad, corrupti eius porro officiis, debitis sint
                repudiandae voluptatum pariatur maiores, dolorem et nam enim
                provident cumque suscipit./li>
              </li>

              <li class="system-why__item">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
                omnis laborum unde a blanditiis, molestiae officiis commodi
                tenetur facilis mollitia voluptatum autem magnam sint, labore
                incidunt aspernatur amet iure id consequatur! Unde voluptate
                cupiditate iusto, rem non doloremque ducimus, repellat officiis
                voluptatum ipsum consequatur dicta doloribus vitae autem
                suscipit reprehenderit placeat quibusdam asperiores eaque,
                obcaecati expedita! Officiis, at iste! Tempore repudiandae eaque
                aperiam, rerum cum doloribus incidunt repellat natus totam
                voluptatibus architecto libero neque facilis quibusdam sequi ut.
                Eum vel earum odit sit repudiandae illo, quibusdam vitae dolor
                modi fuga a ut magni asperiores voluptas deleniti maxime soluta
                dolore est non ab doloribus cumque culpa beatae numquam? Minus
                facere, delectus, maiores neque facilis ratione cupiditate
                ducimus illum nam ab praesentium provident molestias quo quasi
                beatae ipsum nihil modi. Iure quo, repellat autem tempora eos
                dolores ipsum fugiat deserunt temporibus cum vero inventore nisi
                porro aspernatur vel culpa odio voluptatum vitae delectus harum
                libero nesciunt repudiandae quaerat? Eligendi vel commodi ex sit
                voluptas odit cum magni facilis nobis, pariatur porro, quod
                autem, eaque distinctio architecto omnis quaerat sapiente
                excepturi consequuntur officiis officia. At quis obcaecati
                voluptates nemo porro ab quos, adipisci natus nobis, iste aut
                voluptate neque doloribus! Velit repellendus officiis distinctio
                dolores praesentium, blanditiis vitae quasi optio explicabo
                repellat reiciendis voluptatum odio. Vitae nostrum corrupti
                itaque repellat laboriosam laborum culpa, repellendus officia
                asperiores commodi quidem aliquam, perferendis ipsa quos,
                eveniet cumque maxime quasi vel exercitationem cupiditate
                dolores nulla optio. Voluptate doloremque iure eveniet porro,
                autem, ratione nostrum beatae praesentium nulla aut esse et,
                similique consectetur dolore ea! Accusamus dolore itaque saepe
                iure repudiandae deleniti aspernatur nisi nemo quo, placeat
                rerum facere officiis quaerat totam aperiam ducimus minus
                soluta, autem cumque cum. Neque dolores corrupti obcaecati nulla
                officiis. Inventore odit minus harum voluptas laboriosam amet
                aperiam atque qui accusantium neque perspiciatis iure quo
                maiores, consequuntur non impedit eos omnis necessitatibus ipsa
                adipisci, voluptatibus rem dolorum et? Fugit, labore cupiditate
                exercitationem voluptas totam voluptate nisi. Ratione, numquam
                dignissimos! Asperiores eius dolores explicabo nostrum quae
                veritatis eaque odit veniam architecto, atque similique
                perspiciatis praesentium, pariatur sint dolorum, inventore
                mollitia totam labore quidem quam aut voluptas ipsum? Quo enim
                quasi alias ipsa illo praesentium amet a, dolorum, distinctio
                numquam doloribus harum quos totam commodi doloremque repellat
                suscipit minus autem delectus iusto? Doloribus delectus soluta
                ipsum officiis repellat explicabo, labore vero sint maxime
                aliquid quis laudantium neque dicta quidem inventore et
                blanditiis dolorum sequi! Iste maxime modi voluptates
                consectetur repudiandae earum. Reiciendis provident animi iusto
                officia. Soluta accusamus quis quae totam blanditiis
                consequuntur rem deserunt pariatur nihil itaque? Animi,
                praesentium deleniti tempore perferendis repellat culpa magni
                exercitationem ex quidem sed est atque architecto dolores illum,
                quae iste! Laboriosam labore nobis odio repellat nostrum id
                veritatis dolores? Nobis eum alias dolorum esse voluptatem minus
                ea ipsa dicta praesentium aliquam modi ut, distinctio soluta
                saepe vero animi pariatur deserunt quia aut eaque perspiciatis.
                Provident atque id asperiores eligendi consequatur voluptatem
                doloribus officia dicta? Eum accusantium assumenda eius id non
                possimus ad illo, nemo sequi minus asperiores perferendis libero
                molestias sapiente quos delectus. Veritatis eos sit nobis labore
                voluptas maxime aspernatur dolore minima minus quidem rerum
                alias debitis molestias, omnis ab officia, atque mollitia
                asperiores nisi natus expedita facere earum eligendi. Incidunt
                mollitia laudantium impedit neque minima repellat quis quo cum
                eveniet, architecto quia distinctio aspernatur consequuntur
                provident commodi blanditiis molestiae error deserunt rem
                magnam, sit, ea nostrum! Quam unde molestiae alias dolores ex
                ipsum libero nesciunt animi, magni velit quia sunt cum
                doloremque praesentium dolorum odit officia amet est et id sed
                neque! Fugit deleniti incidunt esse tempore suscipit! Mollitia
                atque eos hic est modi enim dignissimos!
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
