<!--Benefits Section-->
<section class="benefits">
  <div class="benefits__container">
    <h2 class="section__title visually-hidden">Особливості</h2>
    <!--скрыто-->
    <ul class="benefits__list list">
      <!--benefits item 1-->
      <li class="benefits__item">
        <div class="benefits__svg-container">
          <svg class="benefits__item-icon" width="70px" height="70px">
            <use href="./images/icons.svg#icon-antenna"></use>
          </svg>
        </div>
        <p class="benefits__item-title item-title">УВАГА ДО ДЕТАЛЕЙ</p>
        <p class="benefits__item-text">
          Ідейні міркування, і навіть початок повсякденної роботи з формування
          позиції.
        </p>
      </li>
      <!--benefits item 2-->
      <li class="benefits__item">
        <div class="benefits__svg-container">
          <svg class="benefits__item-icon" width="70px" height="70px">
            <use href="./images/icons.svg#icon-clock"></use>
          </svg>
        </div>
        <p class="benefits__item-title item-title">ПУНКТУАЛЬНІСТЬ</p>
        <p class="benefits__item-text">
          Завдання організації, особливо рамки і місце навчання кадрів тягне у
          себе.
        </p>
      </li>
      <!--benefits item 3-->
      <li class="benefits__item">
        <div class="benefits__svg-container">
          <svg class="benefits__item-icon" width="70px" height="70px">
            <use href="./images/icons.svg#icon-diagram"></use>
          </svg>
        </div>
        <p class="benefits__item-title item-title">ПЛАНУВАННЯ</p>
        <p class="benefits__item-text">
          Так само консультація з широким активом значною мірою зумовлює.
        </p>
      </li>
      <!--benefits item 4-->
      <li class="benefits__item">
        <div class="benefits__svg-container">
          <svg class="benefits__item-icon" width="70px" height="70px">
            <use href="./images/icons.svg#icon-astronaut"></use>
          </svg>
        </div>
        <p class="benefits__item-title item-title">СУЧАСНІ ТЕХНОЛОГІЇ</p>
        <p class="benefits__item-text">
          Значимість цих проблем настільки очевидна, що реалізація планових
          завдань.
        </p>
      </li>
    </ul>
  </div>
</section>
