<!--Benefits Section-->
<section class="benefits">
  <div class="benefits__container">
    <h2 class="section__title visually-hidden">Особливості</h2>
    <!--скрыто-->
    <ul class="benefits__list list">
      <!--benefits item 1-->
      <li class="benefits__item">
        <div class="benefits__svg-container">
          <svg class="benefits__item-icon" width="70px" height="70px">
            <use href="./images/icons.svg#icon-antenna"></use>
          </svg>
        </div>
        <p class="benefits__item-title item-title">ATTENTION TO DETAILS</p>
        <p class="benefits__item-text">
          Ideological considerations, and even the beginning of daily work on
          forming a position.
        </p>
      </li>
      <!--benefits item 2-->
      <li class="benefits__item">
        <div class="benefits__svg-container">
          <svg class="benefits__item-icon" width="70px" height="70px">
            <use href="./images/icons.svg#icon-clock"></use>
          </svg>
        </div>
        <p class="benefits__item-title item-title">PUNCTUALITY</p>
        <p class="benefits__item-text">
          Likewise, consultation with a broad asset largely determines.
        </p>
      </li>
      <!--benefits item 3-->
      <li class="benefits__item">
        <div class="benefits__svg-container">
          <svg class="benefits__item-icon" width="70px" height="70px">
            <use href="./images/icons.svg#icon-diagram"></use>
          </svg>
        </div>
        <p class="benefits__item-title item-title">PLANNING</p>
        <p class="benefits__item-text">
          Likewise, consultation with a broad asset largely determines.
        </p>
      </li>
      <!--benefits item 4-->
      <li class="benefits__item">
        <div class="benefits__svg-container">
          <svg class="benefits__item-icon" width="70px" height="70px">
            <use href="./images/icons.svg#icon-astronaut"></use>
          </svg>
        </div>
        <p class="benefits__item-title item-title">MODERN TECHNOLOGY</p>
        <p class="benefits__item-text">
          The importance of these problems is so obvious that the implementation
          of planned tasks.
        </p>
      </li>
    </ul>
  </div>
</section>
