<!--Benefits Section-->
<section class="benefits">
  <div class="benefits__container">
    <h2 class="section__title">Why Choose Us?</h2>
    <!--скрыто-->
    <ul class="benefits__list list">
      <!--benefits item 1-->
      <li class="benefits__item animate__animated animate__fadeInLeft wow">
        <div class="benefits__svg-container">
          <svg class="benefits__item-icon" width="70px" height="70px">
            <use href="./images/icons.svg#icon-antenna"></use>
          </svg>
        </div>
        <p class="benefits__item-title item-title">ATTENTION TO DETAILS</p>
      </li>
      <!--benefits item 2-->
      <li class="benefits__item animate__animated animate__fadeInLeft wow">
        <div class="benefits__svg-container">
          <svg class="benefits__item-icon" width="70px" height="70px">
            <use href="./images/icons.svg#icon-clock"></use>
          </svg>
        </div>
        <p class="benefits__item-title item-title">PUNCTUALITY</p>
      </li>
      <!--benefits item 3-->
      <li class="benefits__item animate__animated animate__fadeInRight wow">
        <div class="benefits__svg-container">
          <svg class="benefits__item-icon" width="70px" height="70px">
            <use href="./images/icons.svg#icon-diagram"></use>
          </svg>
        </div>
        <p class="benefits__item-title item-title">PLANNING</p>
      </li>
      <!--benefits item 4-->
      <li class="benefits__item animate__animated animate__fadeInRight wow">
        <div class="benefits__svg-container">
          <svg class="benefits__item-icon" width="70px" height="70px">
            <use href="./images/icons.svg#icon-astronaut"></use>
          </svg>
        </div>
        <p class="benefits__item-title item-title">MODERN TECHNOLOGY</p>
      </li>
    </ul>
  </div>
</section>
