<!--Clients-->
<section class="clients">
  <div class="clients__container">
    <h2 class="section__title">Our partners</h2>
    <ul class="clients__list list">
      <li class="clients__item">
        <a
          href=""
          class="clients__link"
          aria-label="client1"
          target="-blank"
          rel="noopener noreferrer"
        >
          <svg class="clients__logo" width="106px" height="60px">
            <use href="./images/icons.svg#icon-client-1"></use>
          </svg>
        </a>
      </li>
      <li class="clients__item">
        <a
          href=""
          class="clients__link"
          aria-label="client2"
          target="-blank"
          rel="noopener noreferrer"
        >
          <svg class="clients__logo" width="106px" height="60px">
            <use href="./images/icons.svg#icon-client-2"></use>
          </svg>
        </a>
      </li>
      <li class="clients__item">
        <a
          href=""
          class="clients__link"
          aria-label="client3"
          target="-blank"
          rel="noopener noreferrer"
        >
          <svg class="clients__logo" width="106px" height="60px">
            <use href="./images/icons.svg#icon-client-3"></use>
          </svg>
        </a>
      </li>
      <li class="clients__item">
        <a
          href=""
          class="clients__link"
          aria-label="client4"
          target="-blank"
          rel="noopener noreferrer"
        >
          <svg class="clients__logo" width="106px" height="60px">
            <use href="./images/icons.svg#icon-client-4"></use>
          </svg>
        </a>
      </li>
      <li class="clients__item">
        <a
          href=""
          class="clients__link"
          aria-label="client5"
          target="-blank"
          rel="noopener noreferrer"
        >
          <svg class="clients__logo" width="106px" height="60px">
            <use href="./images/icons.svg#icon-client-5"></use>
          </svg>
        </a>
      </li>
      <li class="clients__item">
        <a
          href=""
          class="clients__link"
          aria-label="client6"
          target="-blank"
          rel="noopener noreferrer"
        >
          <svg class="clients__logo" width="106px" height="60px">
            <use href="./images/icons.svg#icon-client-6"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
