<!--Hero section -->
<section class="hero">
  <div class="hero__container">
    <h1 class="hero__title">Grandex LLC</h1>
    <p class="hero__text">
      is fast developing company in supplying industrial automation equipment in
      Europe and throughout the world.The main business activities include
      trading of metal and components for power industry, consulting and
      financial services.
    </p>
    <button type="button" class="hero__btn btn">
      <a class="link hero__link" href="#about">Learn more</a>
    </button>
  </div>
</section>
