<section class="system" id="system">
  <div class="system__img"></div>
  <div class="system__container">
    <h2 class="section__title">activities</h2>
    <div class="system__row">
      <div class="system__descr">
        <div class="system__text">
          <p>text</p>
        </div>
      </div>
      <div class="system__why">
        <h3>text</h3>
        <div class="system-why">
          <div class="system-why__container">
            <ul class="system-why__list">
              <li class="system-why__item">text</li>

              <li class="system-why__item">text</li>
            </ul>
          </div>
          <div class="system-why__container">
            <ul class="system-why__list">
              <li class="system-why__item">text</li>
              <li class="system-why__item">text</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
