<!--Activities Section-->
<section class="activities" id="services">
  <div class="activities__container">
    <h2 class="section__title">OUR ACTIVITIES</h2>
    <ul class="activities__list list">
      <li class="activities__item">
        <a href="./systems.html">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/Activities/box-1-l.webp    1x,
                ./images/Activities/box-1-l@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                .//images/Activities/box-1-l.jpg   1x,
                ./images/Activities/box-1-l@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="activities__img"
              src="./images/Activities/box-1-l.jpg"
              alt="box1"
              width="500px"
            />
          </picture>
          <h3 class="activities__item-title item-title">activities1</h3>
        </a>
      </li>
      <li class="activities__item">
        <a href="./crisis.html">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/Activities/box-2-l.webp    1x,
                ./images/Activities/box-2-l@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/Activities/box-2-l.jpg    1x,
                ./images/Activities/box-2-l@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="activities__img"
              src=".//images/Activities/box-2-l.jpg"
              alt="box2"
              width="500px"
            />
          </picture>
          <h3 class="activities__item-title item-title">activities2</h3>
        </a>
      </li>
      <li class="activities__item">
        <a href="./technology.html">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/Activities/box-3-l.webp    1x,
                ./images/Activities/box-3-l@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/Activities/box-3-l.jpg    1x,
                ./images/Activities/box-3-l@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="activities__img"
              src="./images/Activities/box-3-l.jpg"
              alt="box3"
              width="500px"
            />
          </picture>
          <h3 class="activities__item-title item-title">activities3.</h3>
        </a>
      </li>
      <li class="activities__item">
        <a href="./technology.html">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/Activities/box-4-l.webp    1x,
                ./images/Activities/box-4-l@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/Activities/box-4-l.jpg    1x,
                ./images/Activities/box-4-l@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="activities__img"
              src="./images/Activities/box-4-l.jpg"
              alt="box3"
              width="500px"
            />
          </picture>
          <h3 class="activities__item-title item-title">activities4.</h3>
        </a>
      </li>
    </ul>
  </div>
</section>
