<!--Team Section-->
<section class="team">
  <div class="team__container">
    <h2 class="section__title">Our team</h2>
    <ul class="team__list list">
      <!--team__card 1-->
      <li class="team__card">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/team/team-1-l.webp    1x,
              ./images/team/team-1-l@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/team/team-1-l.jpg    1x,
              ./images/team/team-1-l@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/team/team-1-m.webp    1x,
              ./images/team/team-1-m@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/team/team-1-m.jpg    1x,
              ./images/team/team-1-m@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/team/team-1-s.webp    1x,
              ./images/team/team-1-s@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/team/team-1-s.jpg    1x,
              ./images/team/team-1-s@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./images/team/team-1-s.jpg"
            alt="Игорь Демьяненко"
            class="team__img"
            width="450px"
            height="460px"
          />
        </picture>
        <h3 class="team__card-name">Ігор Демяненко</h3>
        <p lang="en" class="team__card-position">Product Designer</p>
        <ul class="social-links list">
          <li class="social-links__item">
            <a
              class="social-link"
              href="#"
              aria-label="Instagram"
              target="-blank"
              rel="noopener noreferrer"
              target="-blank"
              rel="noopener noreferrer"
            >
              <svg class="social-link__icon" width="20px" height="20px">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-links__item">
            <a
              href="#"
              class="social-link"
              aria-label="Twitter"
              target="-blank"
              rel="noopener noreferrer"
            >
              <svg class="social-link__icon" width="20px" height="20px">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social-links__item">
            <a
              href="#"
              class="social-link"
              aria-label="Facebook"
              target="-blank"
              rel="noopener noreferrer"
            >
              <svg class="social-link__icon" width="20px" height="20px">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-links__item">
            <a
              href="#"
              class="social-link"
              aria-label="Linkedin"
              target="-blank"
              rel="noopener noreferrer"
            >
              <svg class="social-link__icon" width="20px" height="20px">
                <use href="./images/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <!--team__card 2-->
      <li class="team__card">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/team/team-2-l.webp    1x,
              ./images/team/team-2-l@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/team/team-2-l.jpg    1x,
              ./images/team/team-2-l@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/team/team-2-m.webp    1x,
              ./images/team/team-2-m@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/team/team-2-m.jpg    1x,
              ./images/team/team-2-m@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/team/team-2-s.webp    1x,
              ./images/team/team-2-s@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/team/team-2-s.jpg    1x,
              ./images/team/team-2-s@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./images/team/team-2-s.jpg"
            alt="Ольга Репина"
            class="team__img"
            width="450px"
            height="460px"
          />
        </picture>
        <h3 class="team__card-name">Ольга Репіна</h3>
        <p lang="en" class="team__card-position">Frontend Developer</p>
        <ul class="social-links list">
          <li class="social-links__item">
            <a
              class="social-link"
              href="#"
              aria-label="Instagram"
              target="-blank"
              rel="noopener noreferrer"
            >
              <svg class="social-link__icon" width="20px" height="20px">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-links__item">
            <a
              href="#"
              class="social-link"
              aria-label="Twitter"
              target="-blank"
              rel="noopener noreferrer"
            >
              <svg class="social-link__icon" width="20px" height="20px">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social-links__item">
            <a
              href="#"
              class="social-link"
              aria-label="Facebook"
              target="-blank"
              rel="noopener noreferrer"
            >
              <svg class="social-link__icon" width="20px" height="20px">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-links__item">
            <a
              href="#"
              class="social-link"
              aria-label="Linkedin"
              target="-blank"
              rel="noopener noreferrer"
            >
              <svg class="social-link__icon" width="20px" height="20px">
                <use href="./images/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <!--team__card 3-->
      <li class="team__card">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/team/team-3-l.webp    1x,
              ./images/team/team-3-l@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/team/team-3-l.jpg    1x,
              ./images/team/team-3-l@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/team/team-3-m.webp    1x,
              ./images/team/team-3-m@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/team/team-3-m.jpg    1x,
              ./images/team/team-3-m@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/team/team-3-s.webp    1x,
              ./images/team/team-3-s@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/team/team-3-s.jpg    1x,
              ./images/team/team-3-s@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./images/team/team-3-s.jpg"
            alt="Николай Тарасов"
            class="team__img"
            width="450px"
            height="460px"
          />
        </picture>
        <h3 class="team__card-name">Микола Тарасов</h3>
        <p lang="en" class="team__card-position">Marketing</p>
        <ul class="social-links list">
          <li class="social-links__item">
            <a
              class="social-link"
              href="#"
              aria-label="Instagram"
              target="-blank"
              rel="noopener noreferrer"
            >
              <svg class="social-link__icon" width="20px" height="20px">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-links__item">
            <a
              href="#"
              class="social-link"
              aria-label="Twitter"
              target="-blank"
              rel="noopener noreferrer"
            >
              <svg class="social-link__icon" width="20px" height="20px">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social-links__item">
            <a
              href="#"
              class="social-link"
              aria-label="Facebook"
              target="-blank"
              rel="noopener noreferrer"
            >
              <svg class="social-link__icon" width="20px" height="20px">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-links__item">
            <a
              href="#"
              class="social-link"
              aria-label="Linkedin"
              target="-blank"
              rel="noopener noreferrer"
            >
              <svg class="social-link__icon" width="20px" height="20px">
                <use href="./images/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <!--team__card 4-->
      <li class="team__card">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/team/team-4-l.webp    1x,
              ./images/team/team-4-l@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/team/team-4-l.jpg    1x,
              ./images/team/team-4-l@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/team/team-4-m.webp    1x,
              ./images/team/team-4-m@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/team/team-4-m.jpg    1x,
              ./images/team/team-4-m@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/team/team-4-s.webp    1x,
              ./images/team/team-4-s@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/team/team-4-s.jpg    1x,
              ./images/team/team-4-s@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./images/team/team-4-s.jpg"
            alt="Михаил Ермаков"
            class="team__img"
            width="450px"
            height="460px"
          />
        </picture>
        <h3 class="team__card-name">Михайло Єрмаков</h3>
        <p lang="en" class="team__card-position">UI Designer</p>
        <ul class="social-links list">
          <li class="social-links__item">
            <a
              class="social-link"
              href="#"
              aria-label="Instagram"
              target="-blank"
              rel="noopener noreferrer"
            >
              <svg class="social-link__icon" width="20px" height="20px">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-links__item">
            <a href="#" class="social-link" aria-label="Twitter">
              <svg class="social-link__icon" width="20px" height="20px">
                <use
                  href="./images/icons.svg#icon-twitter"
                  target="-blank"
                  rel="noopener noreferrer"
                ></use>
              </svg>
            </a>
          </li>
          <li class="social-links__item">
            <a
              href="#"
              class="social-link"
              aria-label="Facebook"
              target="-blank"
              rel="noopener noreferrer"
            >
              <svg class="social-link__icon" width="20px" height="20px">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-links__item">
            <a
              href="#"
              class="social-link"
              aria-label="Linkedin"
              target="-blank"
              rel="noopener noreferrer"
            >
              <svg class="social-link__icon" width="20px" height="20px">
                <use href="./images/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
