.section__title {
  text-align: center;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 28px;
  line-height: calc(32.81 / 28);
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: calc(42.19 / 36);
    margin-bottom: 50px;
  }
}