.system {
  padding-top: 0;

  &__container {
    @extend %container;
    margin: auto;
  }

  &__row {
    width: 100%;


    align-items: center;

    color: $main-text;
  }

  &__img {
    width: 100%;
    margin-bottom: 30px;
  }

  &__descr {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

  }

  &__text {
    width: 100%;
  }
}

.system__why {
  margin: 0 auto auto;
  padding: 10px;
  padding-bottom: 60px;
  width: 100%;
  align-items: center;
  text-align: center;
  background-color: $secondary-bg;
  color: $light-text;
}

.system-why {
  width: 100%;
  gap: 20px;

  // &__container-1 {
  //   margin-bottom: 20px;
  //   @media screen and (min-width: 768px) {
  //       margin-bottom: 0;
  //       margin-right: 20px;
  //     }
  // }
}

.system-why__container {
  width: 100%;
}

.system-why__item {
  padding-bottom: 10px;
}